<div class="block">
    <header class="block__header">
        <h2 class="block__heading">Heading </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, ipsam?</p>
    </header>
</div>
<p></p>
<div class="block block--black">
    <header class="block__header">
        <h2 class="block__heading">Heading </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, ipsam?</p>
    </header>
</div>
<p></p>
<div class="block block--skewed-left block--black">
    <header class="block__header">
        <h2 class="block__heading">Heading </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, ipsam?</p>
    </header>
</div>
<p></p>
<div class="block block--skewed-right block--black">
    <header class="block__header">
        <h2 class="block__heading">Heading </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, ipsam?</p>
    </header>
</div>