<div class="callout callout--primary">
    <div class="grid grid--cols-2">
        <div class="callout__content">
            <h2 class="callout__content--heading">Ready to get started</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti dolores vero nobis inventore ad labore
                fuga amet obcaecati, harum perferendis!</p>
        </div>
        <a href="" class="btn btn--secondary callout__btn btn--stretched">
            Get started
        </a>
    </div>
</div>