<div class="card card--primary">
    <header class="card__header">
        Card Title
    </header>
    <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum pariatur, quibusdam laborum ducimus asperiores eius
        est aspernatur tempore ullam provident!
    </div>
    <footer class="card__footer">
        Card Footer
    </footer>
</div>

<div class="card card--secondary" style="margin-top: 2rem;">
    <header class="card__header">
        Card Title
    </header>
    <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum pariatur, quibusdam laborum ducimus asperiores eius
        est aspernatur tempore ullam provident!
    </div>
    <footer class="card__footer">
        Card Footer
    </footer>