<div class="card testimonial">
    <div class="grid grid--cols-2">
        <div class="testimonial__image">
            <img src="images/testimonial.jpg" alt="A Happy smiling customer">
            <span class="icon-container icon-container--accent testimonial__icon">
                <svg class="icon icon--accent icon--small">
                    <use xlink:href="icons/sprite.svg#quotes "></use>
                </svg>
            </span>
        </div>
        <blockquote class="quote">
            <p class="quote__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, reprehenderit autem magnam maxime velit
                optio
                eius laudantium nostrum atque accusantium.
            </p>
            <footer class="media">
                <div class="media__img">
                    <svg class="icon icon--primary quote__line">
                        <use xlink:href="icons/sprite.svg#line"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title quote__author">John Smith</h3>
                    <p class="quote__author-company">ABC Company</p>
                </div>
            </footer>
        </blockquote>
    </div>
</div>